In [5]:
import pandas as pd
car_price_dict = {'Swift':  700000,
                       'Jazz' :  800000,
                       'Civic' : 1600000,
                       'Altis' : 1800000,
                       'Gallardo': 30000000
                      }
car_price = pd.Series(car_price_dict)
car_price
#Creating a DataFrame from car_price Series
pd.DataFrame(car_price, columns=['Car Price'])

          Car Price
Swift        700000
Jazz         800000
Civic       1600000
Altis       1800000
Gallardo   30000000

In [6]:
car_price_dict = {'Swift':  700000,
                       'Jazz' :  800000,
                       'Civic' : 1600000,
                       'Altis' : 1800000,
                       'Gallardo': 30000000
                      }
car_price = pd.Series(car_price_dict)
car_man_dict = {'Swift' : 'Maruti',
                  'Jazz'   : 'Honda',
                  'Civic'  : 'Honda',
                  'Altis'  : 'Toyota',
                   'Gallardo' : 'Lamborghini'}
car_man = pd.Series(car_man_dict)
cars = pd.DataFrame({'Price': car_price , 'Manufacturer' : car_man})
cars

             Price Manufacturer
Swift       700000       Maruti
Jazz        800000        Honda
Civic      1600000        Honda
Altis      1800000       Toyota
Gallardo  30000000  Lamborghini