In [1]:
import pandas  as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv("C:/Users/Admin/Desktop/kavya/decision1.csv")
data

     outlook Temperature Humidity    Wind Playedfootball(yes/no
0      sunny         hot     high    weak                    no
1      sunny         hot     high  strong                    no
2   overcast         hot     high    weak                   yes
3       rain        mild     high    weak                   yes
4       rain        cool   normal    weak                   yes
5       rain        cool   normal  strong                    no
6   overcast        cool   normal  strong                   yes
7      sunny        mild     high    weak                    no
8      sunny        cool   normal    weak                   yes
9       rain        mild   normal    weak                   yes
10     sunny        mild   normal  strong                   yes
11  overcast        mild     high  strong                   yes
12  overcast         hot   normal    weak                   yes
13      rain        mild     high  strong                    no

In [3]:
data.columns

Index(['outlook', 'Temperature', 'Humidity', 'Wind', 'Playedfootball(yes/no'], dtype='object')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   outlook                14 non-null     object
 1   Temperature            14 non-null     object
 2   Humidity               14 non-null     object
 3   Wind                   14 non-null     object
 4   Playedfootball(yes/no  14 non-null     object
dtypes: object(5)
memory usage: 688.0+ bytes

In [5]:
data.describe()

       outlook Temperature Humidity  Wind Playedfootball(yes/no
count       14          14       14    14                    14
unique       3           3        2     2                     2
top      sunny        mild     high  weak                   yes
freq         5           6        7     8                     9

In [6]:
data.isnull().sum()

outlook                  0
Temperature              0
Humidity                 0
Wind                     0
Playedfootball(yes/no    0
dtype: int64

In [8]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
le

LabelEncoder()

In [9]:
data['outlook']=le.fit_transform(data['outlook'])
data

    outlook Temperature Humidity    Wind Playedfootball(yes/no
0         2         hot     high    weak                    no
1         2         hot     high  strong                    no
2         0         hot     high    weak                   yes
3         1        mild     high    weak                   yes
4         1        cool   normal    weak                   yes
5         1        cool   normal  strong                    no
6         0        cool   normal  strong                   yes
7         2        mild     high    weak                    no
8         2        cool   normal    weak                   yes
9         1        mild   normal    weak                   yes
10        2        mild   normal  strong                   yes
11        0        mild     high  strong                   yes
12        0         hot   normal    weak                   yes
13        1        mild     high  strong                    no

In [ ]:
data['Temperature']=le.fit_transform(data['Temperature'])
data['']=le.fit_transform(data[''])
data